name: SonarQube Analysis

on:
  push:
    branches:
      - main  # O 'master', asegúrate de cómo se llama tu rama principal
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Importante: Desactiva el clonado superficial para que Sonar analice todo el historial

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu' # O 'temurin'

      - name: Cache SonarQube packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Necesario por defecto
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # El que ya configuraste
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} # El que ya configuraste
        run: ./gradlew build sonar --info